body {
	color: #000;
	background-color: #554e44;
	font-size: 36px;
	font-family: Helvetica;
}

a, a:visited, a:active {
	color: #00000;
}

p {
	font-family: 'Special Elite', cursive;
	font-size: 20px;
 	line-height: 30px;
}

h1 {
	font-size: 36px;
	font-family: helvetica;
}

a:hover {
	text-decoration: underline;
	opacity: .5;
}

h1 {
  font: italic normal 1.4em georgia, sans-serif;
  letter-spacing: 1px;
  color: #7D775C;
  vertical-align: center;
}

.bg {
	height: 600px;
	width: 1200px;
	margin: 0 auto;
}

#ci {
	background:#eee;
	padding:20px 30px
}

#ci .ci-slide {
	display:none;
	text-align:center
}

#ci .ci-nav {
	background: black;
	border:1px solid black;
	color:#fff;
	cursor:pointer;
	font-size:14px;
	max-width:40%;
	padding:5px 5px
}

#ci .left {
	float:left
}

#ci .right {
	float:right
}

#ci .clear {
	clear:both
}

#ci .button {
	color:#fff;
	cursor:pointer;
	font-size:14px;
	max-width:40%;
	padding:5px 5px;
}

.item {
	border:1px solid black;
	color:#fff;
	cursor:pointer;
	font-size:14px;
	max-width:40%;
	padding:5px 5px
}

.wrapper {
    position: relative;
    padding: 0;
    width:100px;
    display:block;
}

.text {
    position: absolute;
    top: 0;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    width: 100px;
    height: 100px;
    line-height:100px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.text:hover {
    opacity:1;
}

img {
    z-index:1;
}

#ci {
  background:#eee;
  padding:20px 30px
}

#ci .ci-slide {
  display:none;
  text-align:center
}

#ci .ci-nav {
  background:#0f75bc;
  border:none;
  color:#fff;
  cursor:pointer;
  font-size:1.2em;
  max-width:40%;
  padding:10px 15px
}

#ci .left {
  float:left
}

#ci .right {
  float:right
}

#ci .clear {
  clear:both}

  
button, .button, input[type=submit] {
  top:10%;
  border: 0;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  /* needed for anchors */
  position: relative;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}
button:hover, button:focus, button.hover, button.focus, .button:hover, .button:focus, .button.hover, .button.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
  transform: translate(2px, 2px);
  color: white;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
}
button:active, button.active, .button:active, .button.active, input[type=submit]:active, input[type=submit].active {
  transform: translate(4px, 4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
}