body {
	color: #000;
	font-family: 'Oxygen';
}

h1 {
	font-family: 'Oxygen';
	letter-spacing: 1px;
	color: #7D775C;
	vertical-align: center;
	font-weight: 300;
	font-size: 8vmin;
}

h2 {
	font-family: 'Oxygen';
	letter-spacing: 1px;
	color: #7D775C;
	vertical-align: center;
	font-weight: 200;
	font-size: 5vmin;
}

p {
	font-family: 'Oxygen';
	font-size: 3vmin;
	font-weight: 100;
	padding: 5px;
}

img {
  z-index:1;
}

a:hover {
	text-decoration: underline;
	opacity: .5;
}

.navbar {
	background-color: white;
}

.container {
	height: 100vh;
	background-color: white;
}

.row {
	background-color: white;
	padding-top: 5%;
}

.well {
	height: inherit;
	background-color: white;
}

.item {
	border: 1px solid black;
	color: #fff;
	font-size: 14px;
	max-width: 40%;
	padding: 5px 5px;
	font-family: 'Oxygen';
}

.wrapper {
    position: relative;
    padding: 0;
    display:block;
}

.bg {
	height: 400px;
	width: 800px;
	margin: 0 auto;
}

#draggable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
}


#ci {
	background: #fff;
	padding-bottom: 30px;
}

#ci .ci-nav {
  background: #000;
  border: none;
  color: #fff;
  font-size: 1.2em;
  max-width: 40%;
  padding-top: 5px;
	margin: auto 0;
}

#ci .left {
  float:left;
	margin: 0 auto;
}

#ci .right {
  float:right;
	margin: 0 auto;
}

#ci .clear {
  clear:both;
	margin: 0 auto;
}

#ci .ci-slide {
	display: none;
	text-align: center;
	vertical-align: center;
	margin: auto 0;
	height: 100%;
}
